# Ignore docker-compose file
docker-compose.yml

# Ignore certs and conf directories
certs/
conf/
local-certs/
# Ignore certbot log files
certbot*

# Localt scripts
copy_all_certs.sh
renew-certs.sh

# No virtual hosts
virtual-hosts
virtual-hosts-local

# Not piwik env
nginx-piwik.env
