# Ignore docker-compose file
docker-compose.yml

# Ignore certs and conf directories
certs/
conf/
local-certs/
html/
# Ignore certbot log files
certbot*

# Localt scripts
copy_all_certs.sh
renew-certs.sh

# No virtual hosts
virtual-hosts
virtual-hosts-local

# Not piwik env
nginx-piwik.env

# Monitor log
monitor.log
monitor.disable
renew-certs.log
install.log

# Redirects conf
redirects.conf

# Editor
.idea
